/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/public/uploads/posts
/public/uploads/staff_photos


Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php

