::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
}
 #landing {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('/../mtu_sketch.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 720px;
}

#landing_civil .detail_button {
    border: 2px solid #eee;
}

#landing_civil>.detail_button:hover {
    color: #eee !important;
}


.columns {
    margin: 0 !important;
    padding: 0 !important;
}


/*title and header*/

.header>div {
    display: flex;
    align-items: center;
    float: left;
}

#header_logo {
    margin-left: 1%;
    margin-right: 1%;
}

#header_logo>img {
    width: 60px;
}

.title {
    margin-right: 0 !important;
    display: block;
    position: relative;
    float: left;
}

.nav-list {
    display: block;
    float: right;
    margin: 55px 0;
}

ul.nav-list>li {
    display: block;
    margin: 0 auto;
    list-style: none;
    float: right;
    cursor: pointer;
}

.nav-list>li a {
    padding: 1em 1em;
    color: white;
}

.menu-section-list {
    margin: 0 auto;
    list-style: none;
    padding: 10px 20px;
}

.title {
    font-weight: 700 !important;
    margin-left: 0;
}

.nav-list li a:hover {
    background-color: #333;
    color: white !important;
}

li>a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
    align-self: flex-start;
}

.toggle-button {
    height: 100%;
    cursor: pointer;
    background: none;
    border: none;
    float: right !important;
}

#button_image {
    /* width: 40px; */
    /* height: 40px; */
}


/*title and header*/

.detail_button {
    position: absolute;
    margin: 0 auto;
    top: 80vh;
    padding: 0 30px;
    border: 2px solid black;
    cursor: pointer;
}

.detail_button:hover {
    background-color: #333;
    color: white;
}

.secondary {
    font-size: 13px;
    color: #747474;
}




/*slideout style*/

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF;
    /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}





/*slideout style*/


/*footer*/

.footer{
    color: #e0e0e0;
    background-color: black;
}
.sub_input{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.sub_input>div:first-child{
    background-color: #eee;
    padding: 0 13px;
    border-radius: 15px;
    border: 0;
}
.sub_input>div:last-child{
    margin: 10px;
    padding: 0.3em 1em;
    border: 2px solid #eee;
    border-radius: 25px;
    cursor: pointer;
}
.sub_input input{
    background-color: #eee;
    border: 0;
}
.sub_input input:focus{
    outline: none;
}
.social div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.social p {
    margin: 0;
}

.social i{
    cursor: pointer;
    margin: 1em;
}
.footer_column ul{
    color: #bdbdbd;
    padding: 0;
    margin: 0;
}
.footer_column li{
    font-size: 13px;
}
.footer_column li a{
    color: #bdbdbd;
}
.footer_column i{
    padding-right: 0.5em;
}

.more_info{
    display: flex !important;
    justify-content: space-between;
}
.more_info div:first-child{
    flex-grow: 2;
}
.footer_logo{
    width: 15%;
    flex-grow: 1;
}
/*footer*/


/* departments */

.brief_history {
    text-align: center;
}

.mission_vision .columns {
    margin: 0 auto !important;
}

.mission_vision span {
    float: left;
    font-size: 90px;
    line-height: 70px;
}

.mission_vision span.float_right {
    float: right;
}

.mission_vision h4 {
    margin: 0;
}

.mission_vision div.align_right {
    background: #424242;
    color: #F5F5F5;
}

.mission_vision h4.align_right {
    margin: 0;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.mission_vision p {
    margin-top: 0;
}

.mission_vision div.bg_black {
    background: #424242;
}

.mission_vision .is-2 {
    padding: 0 !important;
}

.mission_vision .content {
    padding: 20px !important;
}

.mission_vision .align_right {
    text-align: right;
}


/* .mission_vision h1{
    text-align: center;
} */


/* departments */

.thumbnail {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.secondary {
    font-size: 13px;
    color: #747474;
}


/*About page by zln*/


.current_principle h3 {
    color: #eeeeee;
    margin-left: 0; 
    text-align: left;
    font-weight: lighter;
}

.img_parent:hover .img_child,
.img_parent:focus .img_child {
    transform: scale(1.1);
}
 .img_child::before {
    content: "";
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  background-color: rgba(224, 224, 224, 0.75);
}
.current_principle .img_parent:hover .img_child:before,
.current_principle .img_parent:focus .img_child:before {
  display: block;
}


.current_principle {
    border: 1px solid #eee;
        width: 80%;
    margin: auto;
    margin-bottom: 3rem;
}
.current_principle .img_parent{
    height: 400px;
    width: auto;
    overflow: hidden;
    padding: 0;
}
.current_principle .columns .column:last-child{
    background-color: #757575;
    color: #eeeeee !important;
}


/*End About*/