
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/helpers";
@import "bulma/sass/elements/title";
@import "bulma/sass/elements/image";
@import "bulma/sass/grid/columns";
@import "bulma/sass/layout/section";
@import "bulma/sass/elements/table";
@import "bulma/sass/elements/form";
@import "bulma/sass/components/menu";